<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/update/<%= data.id %>" method="post">
            <div class="form-group">
                <input type="text" name="nombre_completo" value="<%= data.nombre_completo%>" placeholder="Nombre completo" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="numero_id" value="<%= data.numero_id%>" placeholder="Número de documento" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="email" value="<%= data.email%>" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="fecha_nacimiento" value="<%= data.fecha_nacimiento%>" placeholder="Fecha de nacimiento" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="fecha_creacion" value="<%= data.fecha_creacion%>" placeholder="Fecha de creación" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">
                Guardar
            </button>                    
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>